html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	padding: 0;
}

fieldset {
	border: none;
}